/* Reset básico para márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e8f6ef;
    color: #151515;
}

header {
    background-color: #95d1a1;
    color: hsl(183, 78%, 56%);
    padding: 10px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    width: 150px;
    height: auto;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.menu a:hover {
    text-decoration: underline;
}

.toggle {
    display: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

h3 {
    color: #555;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

#mapa iframe {
    border: 0;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu.active {
        display: flex;
    }

    .toggle {
        display: block;
        width: 30px;
        height: 30px;
        background: url('menu-icon.png') no-repeat center center;
        background-size: contain;
        cursor: pointer;
    }
}
